body{
    background-color: aliceblue;
    height: 100%;
}

html{
    height: 100%;
}

.barra {
    height: 100%;
    background: rgb(2,0,36);
    float: left;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(76,76,219,1) 0%, rgba(2,157,218,1) 50%, rgba(0,212,255,1) 100%);
}

.btn {
    background-color: #76b5c5;
    width: 100%;
}

li {
    background-color: #abdbe3;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
}

.contenedor {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.alado {
    overflow: hidden;
    height: 100%;
    width: 100% -280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta{
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}